
__pycache__/
*.py[cod]


.DS_Store
Thumbs.db
*.Zone.Identifier


*.fastq
*.fastq.gz
*.fq
*.fq.gz


*.sam
*.bam
*.bai


reference/genome/*
!reference/genome/.gitkeep


reference/index/*
!reference/index/.gitkeep

runs/*
!runs/.gitkeep


*.log
*.tmp

.vscode/
